.env
.data.*
/hoonc
test-leader
test-follower
.nockchain_identity
.nockchain_identity.peerid
target
assets/*.jam
!assets/honc-cold-138.jam
!crates/nockapp/test-jams
keys.export
replay-checkpoints-51094
nockchain-api-checkpoints-backup
**/.DS_Store
notes-*.csv
/txs
/hoonc-octs-type-138.jam
assets/native/*.jam
bazel-*
*.jam
